httpb-test/target/classes/httpb-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="${https.port.b}" doc:name="HTTP Listener Configuration"/>
	<flow name="httpb-testFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/httpb" doc:name="HTTP_B Listener"/>
		<logger message="#['The parameter value passed to HTTP_B API is ' +message.inboundProperties.'http.query.params'.Timeout]" level="INFO" doc:name="Logger"/>
		<scripting:component doc:name="Script">
			<scripting:script engine="Groovy">
				<![CDATA[System.out.println("Holding " +message.getInboundProperty('http.query.params')?.Timeout+ " ms")
sleep(Integer.parseInt(message.getInboundProperty('http.query.params')?.Timeout));
return message.payload;



]]>
			</scripting:script>
		</scripting:component>

		<logger message="#['You passed on the HTTP_B API - This is almost the end of the process']" level="INFO" doc:name="Logger"/>
	</flow>
</mule>
